# Mental Health Center Hypothesis Testing
The New Life Residential Treatment Facility implemented a reengineering program to reduce behavioral problems among teenagers in their care and decrease employee turnover. They made several changes, including shorter employee shifts, increased staff involvement in treatments, and improved management practices. The business problem is to determine if the reengineering effort had an impact on the incidence of behavioral problems and staff turnover. Specifically, the goal is to assess if the critical incident rate, measured as the percentage of critical incident reports, improved after the reengineering. The hypothesis test aims to determine if there is evidence that the critical incident rate decreased as a result of the reengineering effort.

In [8]:
#importing packages
import pandas as pd
from scipy import stats

In [9]:
# Loading the data
data = pd.read_csv("C:\\Users\\sujoydutta\\Desktop\\Data analysis\\Datasets for ML\\Hypothesis testing\\Treatment_Facility.csv") 
data.head()

   Month Reengineer  Employee_Turnover       VAR4        VAR5
0      1      Prior             0.0000  24.390244   42.682927
1      2      Prior             6.0606  19.354839   25.806452
2      3      Prior            12.1212  35.087719  146.198830
3      4      Prior             3.3333  18.404908  110.429448
4      5      Prior            12.9032  17.964072   23.952096

In [10]:
#renaming the columns
data.rename(columns={'VAR4': 'TRFF(%)', 'VAR5': 'CI(%)'}, inplace=True)

In [11]:
#examining the dataset
data.head()

   Month Reengineer  Employee_Turnover    TRFF(%)       CI(%)
0      1      Prior             0.0000  24.390244   42.682927
1      2      Prior             6.0606  19.354839   25.806452
2      3      Prior            12.1212  35.087719  146.198830
3      4      Prior             3.3333  18.404908  110.429448
4      5      Prior            12.9032  17.964072   23.952096

In [13]:
# Separating data into pre-reengineering and post-reengineering periods
pre_reengineering = data[data['Reengineer'] == 'Prior']['CI(%)']
post_reengineering = data[data['Reengineer'] == 'Post']['CI(%)']

In [14]:
# Perform a two-sample t-test
t_statistic, p_value = stats.ttest_ind(pre_reengineering, post_reengineering)

In [15]:
# Setting the significance level (alpha)
alpha = 0.05

# Printing the results
print("T-Statistic:", t_statistic)
print("P-Value:", p_value)

if p_value < alpha:
    print("There is evidence that the critical incident rate improved after reengineering.")
else:
    print("There is no significant evidence that the critical incident rate improved after reengineering.")

T-Statistic: 1.627914425352865
P-Value: 0.12091989189884148
There is no significant evidence that the critical incident rate improved after reengineering.

*Remark: Since P value is higher than alpha level so we can say there is no improvement in particular after re-engineering process.*