# Price Quote hypothesis testing

The business problem involves a small manufacturing company aiming to enhance its price quoting process, which is currently labor-intensive and highly variable. The sales department manager is concerned about the complexity and potential inconsistency in the quoted prices, which depend on various factors. To address this issue, an improvement team conducted a study with two experts, Mary and Barry, independently providing prices for twelve orders. The goal is to determine if there is a statistically significant difference in the average price quotes provided by Mary and Barry. This analysis will help the company understand the extent of variability between pricing experts and may lead to process improvements to achieve more consistent and accurate pricing.

In [1]:
#importing the packages
import pandas as pd
from scipy import stats

In [2]:
# Loading the data from the CSV file
df = pd.read_csv("C:\\Users\\sujoydutta\\Desktop\\Data analysis\\Datasets for ML\\Hypothesis testing\\Price_Quotes.csv")
df.head()

   Order_Number  Barry_Price  Mary_Price
0             1          126         114
1             2          110         118
2             3          138         114
3             4          142         111
4             5          146         129

In [3]:
# Separating the price quotes provided by Mary and Barry
mary_quotes = df['Mary_Price']
barry_quotes = df['Barry_Price']

In [4]:
# Performing a two-sample t-test to compare the means
t_statistic, p_value = stats.ttest_ind(mary_quotes, barry_quotes)

In [5]:
# Setting the significance level
alpha = 0.05

# Print the results
print("T-Statistic:", t_statistic)
print("P-Value:", p_value)

if p_value < alpha:
    print("There is a significant difference in the average price quotes provided by Mary and Barry.")
else:
    print("There is no significant difference in the average price quotes provided by Mary and Barry.")

T-Statistic: -1.4147436739281787
P-Value: 0.17114226132118285
There is no significant difference in the average price quotes provided by Mary and Barry.

*Remark: Since P value is higher than alpha level so we can say the prices of both Mary and Barry are almost same.*