In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/melbourne-housing-data/MELBOURNE_HOUSE_PRICES_LESS.csv
/kaggle/input/melbourne-housing-market/Melbourne_housing_FULL.csv
/kaggle/input/melbourne-housing-market/MELBOURNE_HOUSE_PRICES_LESS.csv

**Melbourne dataset**

This dataset is of 2016 and has prices of real estate property listed.It has been taken from Australian websites. It can be used to find and predict the price of a house based on features.

**Importing necessary packages**

We will be importing packages that are necessary for data visualization, analysis and regression.

In [2]:

import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt

from scipy import stats

In [3]:
import math
import numpy as np
from scipy.stats import lognorm
import matplotlib.pyplot as plt

In [4]:
import matplotlib
import matplotlib.pyplot as plt

**Loading the csv file**

We will load the Melbourne housing dataset in the program which is in the form of CSV.

In [5]:
housing = pd.read_csv('../input/melbourne-housing-market/Melbourne_housing_FULL.csv')

**Glimpsing the data**
Let us have a look and see what the datset has.
We will see what are the type of variables there. 
We will get an idea by sering the first three rows.

In [6]:
housing.shape
housing.head(3)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0

**Checking data type**

Examining the data types of the variables

In [7]:
housing.dtypes

Suburb            object
Address           object
Rooms              int64
Type              object
Price            float64
Method            object
SellerG           object
Date              object
Distance         float64
Postcode         float64
Bedroom2         float64
Bathroom         float64
Car              float64
Landsize         float64
BuildingArea     float64
YearBuilt        float64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount    float64
dtype: object

**Data cleaning**

Here we will clean the data and we will make it fit for analysis.
Here we will replace the question marks and blank cells with NAN which means not Not a Number and signals the Python that they have to replace this cell. 
We will drop the columns that are not necessary for analysis. 
For blank cells we will replace them with measures of central tendency. 
We will replace numerical with mean values and categorical with mode values.

In [8]:
#checking for missing values
housing.isnull().sum().sum()

100975

In [9]:
#replacing missing values
housing.replace("?",np.nan,inplace = True)
housing.head()
print(housing.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34857 entries, 0 to 34856
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         34857 non-null  object
 1   Address        34857 non-null  object
 2   Rooms          34857 non-null  int64
 3   Type           34857 non-null  object
 4   Price          27247 non-null  float64
 5   Method         34857 non-null  object
 6   SellerG        34857 non-null  object
 7   Date           34857 non-null  object
 8   Distance       34856 non-null  float64
 9   Postcode       34856 non-null  float64
 10  Bedroom2       26640 non-null  float64
 11  Bathroom       26631 non-null  float64
 12  Car            26129 non-null  float64
 13  Landsize       23047 non-null  float64
 14  BuildingArea   13742 non-null  float64
 15  YearBuilt      15551 non-null  float64
 16  CouncilArea    34854 non-null  object
 17  Lattitude      26881 non-null  float64
 18  Longtitude     26881 non-null  float64
 19  Regionname     34854 non-null  object
 20  Propertycount  34854 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 5.6+ MB
None

In [10]:
#seeing missing values
missing_data = housing.isnull()
missing_data.head(10)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,False,False,False,False,True,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,True,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,True,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
9,False,False,False,False,True,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False

In [11]:
#missing values column wise
for column in missing_data.columns.values.tolist():
  print(column,missing_data[column].value_counts())
  print("")

Suburb False    34857
Name: Suburb, dtype: int64

Address False    34857
Name: Address, dtype: int64

Rooms False    34857
Name: Rooms, dtype: int64

Type False    34857
Name: Type, dtype: int64

Price False    27247
True      7610
Name: Price, dtype: int64

Method False    34857
Name: Method, dtype: int64

SellerG False    34857
Name: SellerG, dtype: int64

Date False    34857
Name: Date, dtype: int64

Distance False    34856
True         1
Name: Distance, dtype: int64

Postcode False    34856
True         1
Name: Postcode, dtype: int64

Bedroom2 False    26640
True      8217
Name: Bedroom2, dtype: int64

Bathroom False    26631
True      8226
Name: Bathroom, dtype: int64

Car False    26129
True      8728
Name: Car, dtype: int64

Landsize False    23047
True     11810
Name: Landsize, dtype: int64

BuildingArea True     21115
False    13742
Name: BuildingArea, dtype: int64

YearBuilt True     19306
False    15551
Name: YearBuilt, dtype: int64

CouncilArea False    34854
True         3
Name: CouncilArea, dtype: int64

Lattitude False    26881
True      7976
Name: Lattitude, dtype: int64

Longtitude False    26881
True      7976
Name: Longtitude, dtype: int64

Regionname False    34854
True         3
Name: Regionname, dtype: int64

Propertycount False    34854
True         3
Name: Propertycount, dtype: int64

In [12]:
#dropping rows without price values
housing.dropna(subset=['Price'],axis=0, inplace=True)
housing.dropna(subset=['Propertycount'],axis=0, inplace=True)
housing.dropna(subset=['Postcode'],axis=0, inplace=True)
housing

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.79960,144.99840,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.80790,144.99340,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.80930,144.99440,Northern Metropolitan,4019.0
5,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra City Council,-37.79690,144.99690,Northern Metropolitan,4019.0
6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra City Council,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,Yarraville,13 Burns St,4,h,1480000.0,PI,Jas,24/02/2018,6.3,3013.0,...,1.0,3.0,593.0,NaN,NaN,Maribyrnong City Council,-37.81053,144.88467,Western Metropolitan,6543.0
34853,Yarraville,29A Murray St,2,h,888000.0,SP,Sweeney,24/02/2018,6.3,3013.0,...,2.0,1.0,98.0,104.0,2018.0,Maribyrnong City Council,-37.81551,144.88826,Western Metropolitan,6543.0
34854,Yarraville,147A Severn St,2,t,705000.0,S,Jas,24/02/2018,6.3,3013.0,...,1.0,2.0,220.0,120.0,2000.0,Maribyrnong City Council,-37.82286,144.87856,Western Metropolitan,6543.0
34855,Yarraville,12/37 Stephen St,3,h,1140000.0,SP,hockingstuart,24/02/2018,6.3,3013.0,...,NaN,NaN,NaN,NaN,NaN,Maribyrnong City Council,NaN,NaN,Western Metropolitan,6543.0
34856,Yarraville,3 Tarrengower St,2,h,1020000.0,PI,RW,24/02/2018,6.3,3013.0,...,1.0,0.0,250.0,103.0,1930.0,Maribyrnong City Council,-37.81810,144.89351,Western Metropolitan,6543.0

In [13]:
#dropping useless variables
housing.drop('Address', inplace=True, axis=1)
housing

,Suburb,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
1,Abbotsford,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.79960,144.99840,Northern Metropolitan,4019.0
2,Abbotsford,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.80790,144.99340,Northern Metropolitan,4019.0
4,Abbotsford,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.80930,144.99440,Northern Metropolitan,4019.0
5,Abbotsford,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,1.0,94.0,NaN,NaN,Yarra City Council,-37.79690,144.99690,Northern Metropolitan,4019.0
6,Abbotsford,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,Yarra City Council,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,Yarraville,4,h,1480000.0,PI,Jas,24/02/2018,6.3,3013.0,4.0,1.0,3.0,593.0,NaN,NaN,Maribyrnong City Council,-37.81053,144.88467,Western Metropolitan,6543.0
34853,Yarraville,2,h,888000.0,SP,Sweeney,24/02/2018,6.3,3013.0,2.0,2.0,1.0,98.0,104.0,2018.0,Maribyrnong City Council,-37.81551,144.88826,Western Metropolitan,6543.0
34854,Yarraville,2,t,705000.0,S,Jas,24/02/2018,6.3,3013.0,2.0,1.0,2.0,220.0,120.0,2000.0,Maribyrnong City Council,-37.82286,144.87856,Western Metropolitan,6543.0
34855,Yarraville,3,h,1140000.0,SP,hockingstuart,24/02/2018,6.3,3013.0,NaN,NaN,NaN,NaN,NaN,NaN,Maribyrnong City Council,NaN,NaN,Western Metropolitan,6543.0
34856,Yarraville,2,h,1020000.0,PI,RW,24/02/2018,6.3,3013.0,2.0,1.0,0.0,250.0,103.0,1930.0,Maribyrnong City Council,-37.81810,144.89351,Western Metropolitan,6543.0

In [14]:
housing.drop('Date', inplace=True, axis=1)
housing

,Suburb,Rooms,Type,Price,Method,SellerG,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
1,Abbotsford,2,h,1480000.0,S,Biggin,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.79960,144.99840,Northern Metropolitan,4019.0
2,Abbotsford,2,h,1035000.0,S,Biggin,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.80790,144.99340,Northern Metropolitan,4019.0
4,Abbotsford,3,h,1465000.0,SP,Biggin,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.80930,144.99440,Northern Metropolitan,4019.0
5,Abbotsford,3,h,850000.0,PI,Biggin,2.5,3067.0,3.0,2.0,1.0,94.0,NaN,NaN,Yarra City Council,-37.79690,144.99690,Northern Metropolitan,4019.0
6,Abbotsford,4,h,1600000.0,VB,Nelson,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,Yarra City Council,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,Yarraville,4,h,1480000.0,PI,Jas,6.3,3013.0,4.0,1.0,3.0,593.0,NaN,NaN,Maribyrnong City Council,-37.81053,144.88467,Western Metropolitan,6543.0
34853,Yarraville,2,h,888000.0,SP,Sweeney,6.3,3013.0,2.0,2.0,1.0,98.0,104.0,2018.0,Maribyrnong City Council,-37.81551,144.88826,Western Metropolitan,6543.0
34854,Yarraville,2,t,705000.0,S,Jas,6.3,3013.0,2.0,1.0,2.0,220.0,120.0,2000.0,Maribyrnong City Council,-37.82286,144.87856,Western Metropolitan,6543.0
34855,Yarraville,3,h,1140000.0,SP,hockingstuart,6.3,3013.0,NaN,NaN,NaN,NaN,NaN,NaN,Maribyrnong City Council,NaN,NaN,Western Metropolitan,6543.0
34856,Yarraville,2,h,1020000.0,PI,RW,6.3,3013.0,2.0,1.0,0.0,250.0,103.0,1930.0,Maribyrnong City Council,-37.81810,144.89351,Western Metropolitan,6543.0

In [15]:
housing.rename(columns={'Bedroom2':'Bedrooms'},inplace=True, axis=1)
housing

TypeError: Cannot specify both 'axis' and any of 'index' or 'columns'

In [ ]:
#gathering mean values of numerical variables
avg_price= housing["Price"].astype("float").mean(axis=0)
print("The average price of house in Melbourne is",avg_price,"Australian Dollars.")
avg_dist= housing["Distance"].astype("float").mean(axis=0)
print("The average distance of house from business center in ",avg_dist,"Kilometers.")
avg_BA= housing["BuildingArea"].astype("float").mean(axis=0)
print("The average area of building ",avg_BA,"in meter square")
avg_LS= housing["Landsize"].astype("float").mean(axis=0)
print("The average area of plot",avg_LS,"in meter square")
avg_LT=housing["Lattitude"].astype("float").mean(axis=0)
print("The average Lattitude is ",avg_LT,"degrees")
avg_LO=housing["Longtitude"].astype("float").mean(axis=0)
print("The average Longtitude is ",avg_LO,"degrees")

In [ ]:
#replacing numerical missing values with mean
housing['Distance'].replace(np.nan, avg_dist, inplace=True)
housing['BuildingArea'].replace(np.nan, avg_BA, inplace=True)
housing['Lattitude'].replace(np.nan, avg_LT, inplace=True)
housing['Longtitude'].replace(np.nan, avg_LO, inplace=True)
housing['Landsize'].replace(np.nan, avg_LS, inplace=True)

In [ ]:
#seeing mode of categorical values


num_bathrooms=housing['Bathroom'].value_counts()
print(num_bathrooms)
mode_num_bathrooms=housing['Bathroom'].value_counts().idxmax()
print("the mode value is",mode_num_bathrooms)

In [ ]:
num_bedrooms=housing['Bedroom2'].value_counts()
print(num_bedrooms)
mode_num_bedrooms=housing['Bedroom2'].value_counts().idxmax()
print("the mode value is",mode_num_bedrooms)

In [ ]:
num_of_car_parking_spots=housing['Car'].value_counts()
print(num_of_car_parking_spots)
mode_num_of_car_parking_spots=housing['Car'].value_counts().idxmax()
print("the mode value is",mode_num_of_car_parking_spots)

In [ ]:
num_of_CouncilArea=housing['CouncilArea'].value_counts()
print(num_of_CouncilArea)
mode_num_of_CouncilArea=housing['CouncilArea'].value_counts().idxmax()
print("the mode value is",mode_num_of_CouncilArea)

In [ ]:
num_of_Region=housing['Regionname'].value_counts()
print(num_of_Region)
mode_num_of_Region=housing['Regionname'].value_counts().idxmax()
print("the mode value is",mode_num_of_Region)

In [ ]:
Year_built=housing['YearBuilt'].value_counts()
print(Year_built)
mode_num_of_Year_built=housing['YearBuilt'].value_counts().idxmax()
print("the mode value is",mode_num_of_Year_built)

In [ ]:
#replacing blank with mode
housing['Bathroom'].replace(np.nan, mode_num_bathrooms, inplace=True)
housing['Bedroom2'].replace(np.nan, mode_num_bedrooms, inplace=True)
housing['Car'].replace(np.nan, mode_num_of_car_parking_spots, inplace=True)
housing['CouncilArea'].replace(np.nan, mode_num_of_CouncilArea, inplace=True)
housing['Regionname'].replace(np.nan, mode_num_of_Region, inplace=True)
housing['YearBuilt'].replace(np.nan, mode_num_of_Year_built, inplace=True)

In [ ]:
#checking for missing values
housing.isnull().sum().sum()

In [ ]:
lowestprice=min(housing["Price"])
lowestprice

In [ ]:
highestprice=max(housing["Price"])
highestprice

In [ ]:
bins=[80000,500000,1000000,12000000]
labels=['basic','average','high end']

In [ ]:
housing['Price category']=pd.cut(housing['Price'],bins=bins,labels=labels)
housing['Price category'].value_counts()

In [ ]:
plt.bar(labels, housing['Price category'].value_counts())
plt.xlabel("Amount of people in eact category")
plt.ylabel("Number of houses")
plt.title("house price bins")

**Outliers removal**

In this step I am going to remove the outliers from the variables as they can negatively affect the machine learning algorithm.
They represent errors like measurement or sampling error.

In [ ]:
#seeing the outliers for price
sns.boxplot(housing['Price'])

In [ ]:
#checking z score in Price
z = np.abs(stats.zscore(housing['Price']))
print(z)

In [ ]:
#Outliers in Price
for x in ['Price']:
    q75,q25 = np.percentile(housing.loc[:,x],[75,25])
    intr_qr = q75-q25
 
    max = q75+(1.5*intr_qr)
    min = q25-(1.5*intr_qr)
   #replacing with nan
    housing.loc[housing[x] < min,x] = np.nan
    housing.loc[housing[x] > max,x] = np.nan

In [ ]:
#seeing null values
housing.isnull().sum()

In [ ]:
#replacing nan with mean value
housing['Price'].replace(np.nan, avg_price, inplace=True)

In [ ]:
#seeing the outliers for Distance
sns.boxplot(housing['Distance'])

In [ ]:
#checking z score
z = np.abs(stats.zscore(housing['Distance']))
print(z)

In [ ]:
#Outliers in Distance
for x in ['Distance']:
    q75,q25 = np.percentile(housing.loc[:,x],[75,25])
    intr_qr = q75-q25
 
    max = q75+(1.5*intr_qr)
    min = q25-(1.5*intr_qr)
   #replacing with nan
    housing.loc[housing[x] < min,x] = np.nan
    housing.loc[housing[x] > max,x] = np.nan

In [ ]:
#seeing null values
housing.isnull().sum()

In [ ]:
#replacing nan with mean value
housing['Distance'].replace(np.nan, avg_dist, inplace=True)

In [ ]:
#seeing the outliers for BuildingArea
sns.boxplot(housing['BuildingArea'])

In [ ]:
#checking z score
z = np.abs(stats.zscore(housing['BuildingArea']))
print(z)

In [ ]:
#Outliers in BuildingArea
for x in ['BuildingArea']:
    q75,q25 = np.percentile(housing.loc[:,x],[75,25])
    intr_qr = q75-q25
 
    max = q75+(1.5*intr_qr)
    min = q25-(1.5*intr_qr)
   #replacing with nan
    housing.loc[housing[x] < min,x] = np.nan
    housing.loc[housing[x] > max,x] = np.nan

In [ ]:
#seeing null values
housing.isnull().sum()

In [ ]:
#replacing nan with mean value
housing['BuildingArea'].replace(np.nan, avg_BA, inplace=True)

In [ ]:
#seeing the outliers for Lattitude
sns.boxplot(housing['Lattitude'])

In [ ]:
#checking z score
z = np.abs(stats.zscore(housing['Lattitude']))
print(z)

In [ ]:
#Outliers in lattitude
for x in ['Lattitude']:
    q75,q25 = np.percentile(housing.loc[:,x],[75,25])
    intr_qr = q75-q25
 
    max = q75+(1.5*intr_qr)
    min = q25-(1.5*intr_qr)
   #replacing with nan
    housing.loc[housing[x] < min,x] = np.nan
    housing.loc[housing[x] > max,x] = np.nan

In [ ]:
#seeing null values
housing.isnull().sum()

In [ ]:
#replacing nan with mean value
housing['Lattitude'].replace(np.nan, avg_LT, inplace=True)

In [ ]:
#seeing the outliers for Longtitude
sns.boxplot(housing['Longtitude'])

In [ ]:
#checking z score
z = np.abs(stats.zscore(housing['Longtitude']))
print(z)

In [ ]:
#Outliers in Longtitude
for x in ['Longtitude']:
    q75,q25 = np.percentile(housing.loc[:,x],[75,25])
    intr_qr = q75-q25
 
    max = q75+(1.5*intr_qr)
    min = q25-(1.5*intr_qr)
   #replacing with nan
    housing.loc[housing[x] < min,x] = np.nan
    housing.loc[housing[x] > max,x] = np.nan

In [ ]:
#seeing null values
housing.isnull().sum()

In [ ]:
#replacing nan with mean value
housing['Longtitude'].replace(np.nan, avg_LO, inplace=True)

In [ ]:
#seeing the outliers for Landsize
sns.boxplot(housing['Landsize'])

In [ ]:
#checking z score
z = np.abs(stats.zscore(housing['Landsize']))
print(z)

In [ ]:
#Outliers in Landsize
for x in ['Landsize']:
    q75,q25 = np.percentile(housing.loc[:,x],[75,25])
    intr_qr = q75-q25
 
    max = q75+(1.5*intr_qr)
    min = q25-(1.5*intr_qr)
   #replacing with nan
    housing.loc[housing[x] < min,x] = np.nan
    housing.loc[housing[x] > max,x] = np.nan

In [ ]:
#seeing null values
housing.isnull().sum()

In [ ]:
#replacing nan with mean value
housing['Landsize'].replace(np.nan, avg_LS, inplace=True)

**Normality**

We will check if the data is normally distributed or not. The data should be in form pf bell curve.